body{
    width: 95%;
    margin: 0 auto;
    background-color: antiquewhite;
}
h1{
    text-align: center;
}

.flex-container{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content: center;
}

.ad-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.story-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 800px;
}

.ad{
    width: 200px;
    height: 400px;
    padding: 5px;
}

.ad:hover{
    cursor: pointer;
}