body{
    width: 100%;
    margin: 0 auto;
    background-color: antiquewhite;
}
h1{
    text-align: center;
}

.flex-container{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content: center;
}

.ad-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.story-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 800px;
}

.ad{
    width: 300px;
    height: 400px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

.ad:hover{
    cursor: pointer;
}

.animation {
    width: 100px;
    height: 100px;
    background-color: red;
    background-image: url("https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1415428950i/23014716.jpg");
    background-size: cover;
    position: relative;
    animation-name: example;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:93%; top:0px;}
    50%  {background-color:blue; left:93%; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }