.page-title {
    font-family: "Blackletter", "Bodoni MT Black", serif;
    font-size: 3em;
    color: #fff;
    text-align: center;
    margin-top: 2em;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    letter-spacing: 0.1em;
  }
  
  body {
    background-color: #1b1b1b;
    color: #fff;
    font-family: "Old English", serif;
  }
  
  h1 {
    font-family: "Old English", serif;
    font-weight: bold;
    font-size: 40px;
    margin-top: 60px;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    line-height: 1.2;
    margin: 20px 20px; 
    text-align: justify;
  }
  
  .container {
    max-width: 800px;
    margin: 60px auto;
    padding: 60px;
  }
  
  .section-title {
    font-size: 24px;
    margin-top: 40px;
  }
  
  .section-content {
    margin-top: 20px;
  }
  
  .section-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .section-content li {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .section-content li:before {
    content: "•";
    margin-right: 10px;
  }
  
  .quote {
    font-style: italic;
    margin-top: 40px;
  }
  
  .quote:before {
    content: open-quote;
    font-size: 40px;
    margin-right: 10px;
  }
  
  .quote:after {
    content: close-quote;
    font-size: 40px;
    margin-left: 10px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8b0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.2s ease;
  }
  
  .btn:hover {
    background-color: #b22222;
  }
  
  nav {
    background-color: #262626;
    height: 60px;
    padding: 0 20px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #262626;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    background-color: #f9f9f9;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #262626;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  