body{
    margin: 0px;
    font-family: 'Gajraj One', cursive;
}

.seeker{
    margin-top: 250px;
    margin-left: 400px;
    font-size: 35px;
}

.bwgif{
    margin-top: 350px;
    margin-left: 300px;
}

p {
    animation: 0.001s linear infinite condemned_blink_effect;
  }
  
  @keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  